#signin {
  min-height: 100vh;
  width: 100%;
  overflow: hidden;
  background-color: #343a40;
}

.form {
  width: 60%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media screen and (max-width: 576px) {
  .form {
    width: 80% !important;
  }
}
